html{
    height: 100%;
}

body{
    height: 100%;
}

.flex{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.clock{
    border: 3px black solid;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.hand{
    width: 130px;
    height: 6px;
    top: 50%;
    margin-left: 70px;
    transform: rotate(270deg);
    transform-origin: 0%;
    position: absolute;
}

#hour{
    background: red;
}

#min{
  background: goldenrod;
}

#sec{
   background:black;
}