html{
    height: 100%;
}

body{
    height: 100%;
}

.flex{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.clock{
    border: 3px black solid;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#hour{
    border-left: 2px black solid;
    width: 3px;
    margin-top: 70px;
    height: 130px;
}

#min{
    border-left: 2px black solid;
    width: 2px;
    margin-top: 30px;
    height: 170px;
}

#sec{
    border-top: 2px black solid;
    width: 1px;
    height: 200px;
}